<div class="col-xs-12 table-responsive" *ngIf="items.length==0">
  <p>
    Não há itens no carrinho. Vamos <a [routerLink]="['/restaurants']">Comprar?</a>
  </p>
</div>
<div class="col-xs-12 table-responsive" *ngIf="items.length>0">
  <table class=" table table-striped">
  <thead>
    <tr>
      <th class="text-center">Quantidade</th>
      <th>Item</th>
      <th>Descrição</th>
      <th class="text-right">Subtotal</th>
      <th class="text-right"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td class="text-center">
        <a (click)="emitDecrementaItem(item)" class="btn btn-sm"><i class="fa fa-minus"></i></a>
        {{item.quantidade}}
        <a (click)="emitIncrementaItem(item)" class="btn btn-sm"><i class="fa fa-plus"></i></a>
      </td>
      <td>{{item.itemMenu.name}}</td>

      <td>{{item.itemMenu.description}}</td>
      <td class="text-right">{{item.valor() | currency:'BRL': true}}</td>
      <td class="text-right">
        <a (click)="emitRemoveItem(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
      </td>
    </tr>
  </tbody>
  </table>
</div>