<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <h1>
    Todos os Restaurantes
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-6 col-xs-12" *ngFor="let item of restaurantes">
        <mt-restaurant [restaurant]="item"></mt-restaurant>
    </div>
  </div>
</section>

<!-- FIM  do CONTEÚDO -->