<!-- INICIO DO CONTEUDO -->
<div class="col-xs-12 col-sm-6" *ngFor="let item of review | async">
  <div class="box box-solid" >
    <div class="box-header with-border">
      <span class="review-score pull-right"><i class="fa fa-star"></i> {{item.rating}}</span>
      <div class="user-block">
        <img alt="User Image" class="img-circle" src="assets/img/reactions/loved.png">
        <span class="username">{{item.name}}</span>
        <span class="description">{{item.date | date:'dd/MM/yyyy'}}</span>
      </div>
    </div>

    <div class="box-body">
      <p>{{item.comments}}</p>
    </div>
  </div>
</div>
<!--FIM DO CONTEUDO -->