<!--INÍCIO DO MENU -->
<div class="col-md-9 col-xs-12" [@mostrarMenu]="menuMostre">
  <div class="menu-item-info-box">
    <span class="menu-item-info-box-icon"><img [src]="menu?.imagePath"></span>

    <div class="menu-item-info-box-content">
      <span class="menu-item-info-box-text"> {{menu?.name}}</span>
      <span class="menu-item-info-box-detail">{{menu?.description}}</span>
      <span class="menu-item-info-box-price">{{menu?.price | currency:'BRL':true}}</span>
      <a (click)="emitAddMenu()" class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<!-- FIM DO MENU -->