<!--INICIO DO CARRINHO-->
<div class="box box-solid">
  <div class="box-header">
    <i class="fa fa-shopping-cart"></i>

    <h3 class="box-title">Carrinho</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr *ngFor="let item of itens()" [@linhaTB]='animacao'>
            <th style="width:60%">({{item.quantidade}}) X {{item.itemMenu.name}}:</th>
            <td class="text-right">{{item.valor()|currency:'BRL':true }}</td>
            <td class="text-right">
              <a class="btn btn-sm danger" (click)="remove(item)"> 
                <i class="fa fa-remove"></i>
              </a>
            </td>
          </tr>
          <tr>
            <th>Total:</th>

            <td class="text-right">{{total() |currency:'BRL':true}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box-footer">
    <div class="pull-right">
      <button type="button" (click)="clear()" class="btn btn-danger"><i class="fa fa-trash"></i> Limpar</button>
      <a [routerLink]="['/order']" class="btn btn-success"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
    </div>
  </div>
</div>
<!-- FIM DO CARRINHO -->