<div class="form-group" [class.has-success]="input.valid && (input.dirty || input.touched)" [class.has-error]="!input.valid && (input.dirty || input.touched)">
  <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> {{label}}</label>
  <ng-content></ng-content>
  <span class="help-block" *ngIf="input.valid && (input.dirty || input.touched)"><i class="fa fa-check"></i> Ok</span>
  <span class="help-block" *ngIf="!input.valid && (input.dirty || input.touched)"><i class="fa fa-remove"></i>
    {{error}}</span>
</div>