<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>
<section class="content">
  <section class="invoice">
    <form novalidate [formGroup]="orderForm">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>
      <div class="row invoice-info">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus Dados:</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i>
            Emails não conferem</span>
        </div>
        <!-- Componente Input relacionado a aula 62 content projection -->
        <div class="col-sm-4 col-xs-12">
          <mt-input-container error="Campo Obrigatório" label="Nome">
            <input class="form-control" placeholder="Nome" formControlName="name">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container error="Campo Obrigatório" label="E-mail">
            <input class="form-control" formControlName="email" placeholder="E-mail">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container error="Campo Obrigatório" label="Confirme seu email">
            <input class="form-control" formControlName="emailConfirmation" placeholder="Confirme seu email">
          </mt-input-container>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <!-- Componente Input relacionado a aula 62 content projection -->
        <div class="col-sm-6 col-xs-12">
          <mt-input-container error="Campo Obrigatório e com 5 caracteres no minimo" label="Endereço">
            <input class="form-control" placeholder="Endereço" formControlName="address">
          </mt-input-container>
        </div>
        <div class="col-sm-2 col-xs-6">
          <mt-input-container error="Campo Obrigatório e somente numeros" label="Número">
            <input class="form-control" formControlName="number" placeholder="Número">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container label="Complemento">
            <input class="form-control" formControlName="optionalAddress" placeholder="Complemento">
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-order-items [items]="cartItems()" (incrementaItem)="incrementaItem($event)" (decrementaItem)="decrementaItem($event)"
          (removeItem)="removeItem($event)"></mt-order-items>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <mt-delivery-cost [delivery]="delivery" [totalItem]="ItemTotal()"></mt-delivery-cost>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="fecharPedido(orderForm.value)" [disabled]="!orderForm.valid|| cartItems().length===0" class="btn btn-success pull-right"><i
            class="fa fa-credit-card"></i> Concluir
          Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->